*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/debug/AR155-com.softcleean.fastcleaner-v2.0(2)-debug.apk
/app/release/AR155-com.softcleean.fastcleaner-v2.0(2)-release.aab
/app/debug/AR155-com.softcleean.fastcleaner-v3.0(3)-debug.apk
/app/release/AR155-com.softcleean.fastcleaner-v3.0(3)-release.aab
/app/debug/
/app/release/
/.idea/
